<div class="container ">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <div class="post text-center">
                <div class="post-top">
                    <a href="#">Images</a>
                    <a href="#">Video</a>
                </div>
                <div class="post-body" style:"width:100%;">
                    <div class="post-img">
                        <img src="img/post-user.png" alt="" />
                    </div>
                    <div class="post-text" style:"width:100%;">
                        <p>
                            <textarea id="txtNewStory" style:"width:100%;"></textarea>
                        </p>
                    </div>
                </div>
                <div class="post-button">
                    <a href="#">Post</a>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>

