
<div >  
    <div >                
        <div >
            
            <div class="like">
                <div class="StoryTotalActionSummary">{{TotalActions}}</div>
                <div class="StoryActionSummary">
                    <p ><a href="#"><i class="fa fa-thumbs-up"></i></a> <div>{{SupportCount}}</div></p>
                    <p><a href="#"><i class="fa fa-thumbs-down"></i></a> <div>{{DisagreeCount}}</div></p>
                </div>
            </div>
        </div>       
    </div>
    
</div>