<div class="{{size}}" id="dvGridItem_{{ID}}" data-src="img/StoryImages/{{ImageURL}}" name="GridItem" data-width="780" data-height="585" data-lowsize="" >

	<div class="mega-covercaption {{squarePosition}} {{landscapePosition}} mega-portrait-bottom {{color}}">
		<!-- The Content Part with Hidden Overflow Container -->

		<div class="mega-title"><img src="images/megafolio/icons/grid.png" alt="" style="float: left; padding-right: 15px;"/>

			{{Title}}
		</div>
		<div class="mega-date">
			<!--TRIAL{{size}} {{squarePosition}} {{landscapePosition}}--> {{ID}}

			{{Story}}
		</div>
		<div class="mega-date">
			TRIAL{{size}} {{squarePosition}} {{landscapePosition}}

		</div>
		<p>
			{{StoryText}}
		</p>

	</div>

	<!-- The Link Buttons -->
	<div class="mega-coverbuttons">
		<div class="mega-link mega-red"></div>
		<a class="fancybox" data-fancybox-group="group" href="images/megafolio/HomeLessNess.png" title="A Multi-Purpose Grid Plugin"><div class="mega-view mega-red"></div></a>
	</div>

</div>

