<div class="upload-info PostCommentInfo">
    <div class="uploader-img PostCommentInfoImg">
        <img src="img/p2/bg.jpg" alt="image" />
    </div>
    <div class="uploader-info PostCommenterInfo">
        <h1>{{User.FirstName}} {{User.LastName}}</h1>
        <h2>{{Comments}}</h2>
        <h2 class="like PostCommenterInfoLike">
            <p>
                <a href="#"> {{CommentSummary.SupportCount}}<i class="fa fa-thumbs-up"></i></a>
                <a href="#"> {{CommentSummary.DisagreeCount}}<i class="fa fa-thumbs-down"></i></a>
            </p>
       
        </h2>
    </div>
</div>
