
<div style="margin-left:50px">
    <div class="heading">
        <h1>{{Title}}</h1>
    </div>    
    <div >                
        <div >{{ActionSummary.SupportCount}} + {{ ActionSummary.DisagreeCount}}
            <h1 class="LikeCount"> </h1>
            <h2 class="like">
                <p><a href="#"><i class="fa fa-thumbs-up"></i></a> {{ActionSummary.SupportCount}}</p>
                <p><a href="#"><i class="fa fa-thumbs-down"></i></a> {{ActionSummary.DisagreeCount}}</p>
            </h2>
        </div>       
    </div>
    <br/><br/>
</div>